@import './utilidades/reset';
@import './secciones/header';
@import './secciones/footer';
@import './secciones/main-index';
@import './utilidades/titulos';
@import './secciones/transformacion';
@import 'bootstrap/scss/bootstrap';







@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');







.buscador {
    background-color: #edc79bff;
}

body {
    margin: 0;
    padding: 20px;
}

.producto {
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #d57a66ff;
}

.producto img {
    width: 500px;
    border-radius: 5px;


}

.producto p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}


.info {
    margin: 0%;
    background-color: #d57a66ff;
}


p {
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}


.blog p {
    background-color: #d57a66ff;
    font-family: 'Raleway', sans-serif;
}

.ini p {
    background-color: #d57a66ff;
    font-family: 'Raleway', sans-serif;
}






