h1 {
    color: #ca6680ff;
    background-color: #edc79bff;
    font-family: sans-serif;
    text-align: center;
    font-family: 'Satisfy', cursive;




}

h2 {
    color: #ca6680ff;
    background-color: #edc79bff;
    font-family: 'Satisfy', cursive;
    text-align: center;
}

h3 {
    color: #ca6680ff;
    background-color: #edc79bff;
}


h4 {
    color: #ca6680ff;
    background-color: #edc79bff;
}